
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Ones';
  background-color: #FCFBFE;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
    font-display: swap;
    font-family: 'Ones';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/Onest/static/Onest-Regular.ttf') format('trueType'); 
}

/*Space*/
@font-face {
    font-display: swap;
    font-family: 'Ones';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/Onest/static/Onest-Bold.ttf') format('trueType'); 
}


@font-face {
    font-display: swap;
    font-family: 'Ones';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/Onest/static/Onest-ExtraBold.ttf') format('trueType'); 
}
